{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Laser Point Cloud Viewer{% endblock %}</h1>
  <style>
    body {margin: 0; };
    canvas { 
      width: 100% 
    };
  </style>
{% endblock %}

{% block content %}
  <script src="{{ url_for('static', filename='three.js') }}""></script>
  <script src="{{ url_for('static', filename='WebGL.js') }}"></script>
  <script src="{{ url_for('static', filename='TrackballControls.js') }}""></script>

  <script src="{{ url_for('static', filename='point_cloud_viewer.js') }}"></script>

  <button id="start" onclick="viewer.startPointCapture()" >Start</button>
  <button id="stop" onclick="viewer.stopPointCapture()">Stop</button>
{% endblock %}
   