<!doctype html>
<title>{% block title %}{% endblock %} - Voltera Laser Capture/Control System</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('main.index') }}">Voltera Laser Capture/Control System</a></h1>
  <ul>
      <li><a href="{{ url_for('controls.controls') }}">Controls</a>
      <li><a href="{{ url_for('controls.preview') }}">Preview</a>
      <li><a href="{{ url_for('calibration.index') }}">Calibration</a>
      <li><a href="{{ url_for('viewer.viewer') }}">Laser Viewer</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <script id="image-sidebar-script" src="{{ url_for('static', filename='image_sidebar.js') }}" type="module"></script> 

  <div id="split-content">
    <div id="image-sidebar">
      <a href="javascript:void(0)" id="toggle-sidebar" onclick="openNav()">></a>
        <div id="hideable-images">
            <h3><ul>Saved Images</ul></h3>
        </div>
        <div id="image-sidebar-contents"></div>
    </div> <!-- image-sidebar -->
    <div id="content">
      {% block content %}{% endblock %} 
    </div> <!-- content -->

  </div> <!-- split-content -->

</section> <!-- content -->
