{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Index{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>With this tool you can:</p>
<ul>
<li> <a href="{{ url_for('controls.controls') }}">Controls</a> - Control the sensor and laser settings.
<li> <a href="{{ url_for('controls.preview') }}">Preview</a> - Live view of the camera for previewing and image capture.
<li> <a href="{{ url_for('calibration.index') }}">Calibration</a> - Calibration tools.
<li> <a href="{{ url_for('viewer.viewer') }}">Laser Viewer</a> - Live view of the 3D data.
</ul>
{% endblock %}
