{% extends 'base.html' %}

{% block header %}
<div class="bar">
  <button class="bar-item button" id="camera_nav_button">Camera</button>
  <button class="bar-item button" id="laser_nav_button">Laser</button>
</div>
{% endblock %}

{% block content %}


<div id="camera_calibration_tab" class="tabs" style="display: block">
  <h1>Camera Calibration</h1>
  <div id="camera_calibration" class="calibration_tab">
    <div id="camera_params" class="calibration_params">
      <div class="cam_params">
        <span class="cam_label_1">Fx</span>
        <span class="cam_input_1"><input id="cam_fx" type="number"></span>
        <span class="cam_label_3">Fy</span>
        <span class="cam_input_3"><input id="cam_fy" type="number"></span>
        <span class="cam_label_2">cx</span>
        <span class="cam_input_2"><input id="cam_cx" type="number"></span>
        <span class="cam_label_4">cy</span>
        <span class="cam_input_4"><input id="cam_cy" type="number"></span>
        <span class="cam_label_5">Cam dx</span>
        <span class="cam_input_5"><input id="cam_dx" type="number"></span>
        <span class="cam_label_7">Cam dy</span>
        <span class="cam_input_7"><input id="cam_dy" type="number"></span>
        <span class="cam_label_9">Cam dz</span>
        <span class="cam_input_9"><input id="cam_dz" type="number"></span>
        <span class="cam_label_6">Cam rx</span>
        <span class="cam_input_6"><input id="cam_dx" type="number"></span>
        <span class="cam_label_8">Cam ry</span>
        <span class="cam_input_8"><input id="cam_dy" type="number"></span>
        <span class="cam_label_10">Cam rz</span>
        <span class="cam_input_10"><input id="cam_dz" type="number"></span>
        <span class="cam_label_12"></span>
        <span class="cam_input_12"><input id="cam_fit" type="button" value="Fit"></span>
      </div>
    </div>
    <div id="camera_images" class="calibration_image_sidebar">
      camera images
    </div>
    <div id="camera_preview" class="calibration_display">
      camera preview
    </div>
  </div>
</div>

<div id="laser_calibration_tab" class="tabs" style="display: none">
  <h1>Laser Calibration</h1>
  <div id="laser_calibration" class="calibration_tab">
    <div id="laser_params" class="calibration_params">
      <div class="laser_params">
        <span class="lp_label_1">Plane Rx</span>
        <span class="lp_input_1"><input id="lp_rx" type="number"></span>
        <span class="lp_label_3">Plane Ry</span>
        <span class="lp_input_3"><input id="lp_ry" type="number"></span>
        <span class="lp_label_5">Plane Rz</span>
        <span class="lp_input_5"><input id="lp_rz" type="number"></span>
        <span class="lp_label_7">Plane Offset (mm)</span>
        <span class="lp_input_7"><input id="lp_dz" type="number"></span>
        <span class="lp_label_2">Cam dy</span>
        <span class="lp_input_2"><input id="cam_dx" type="number"></span>
        <span class="lp_label_4">Cam dy</span>
        <span class="lp_input_4"><input id="cam_dy" type="number"></span>
        <span class="lp_label_6">Cam yaw</span>
        <span class="lp_input_6"><input id="cam_rz" type="number"></span>
        <span class="lp_label_8"></span>
        <span class="lp_input_8"><input id="lp_fit" type="button" value="Fit"></span>
      </div>
    </div>
    <div id="laser_images" class="calibration_image_sidebar">
      laser sidebar
    </div>
    <div id="laser_preview" class="calibration_display">
      laser preview
    </div>
  </div>
</div>
  
<script src="{{ url_for('static', filename='calibration_tool.js') }}"></script>
<script>
  let cal_tools = CalibrationTool();
  
  cal_tools.setupTabs([
    {button: "camera_nav_button", tab_element: "camera_calibration_tab"}, 
    {button: "laser_nav_button", tab_element: "laser_calibration_tab"},
  ]);

  cal_tools.setupFileSelect(file=>{console.log(file);}, "camera_params");
  cal_tools.setupFileSelect(file=>{console.log(file);}, "laser_params");
  cal_tools.setupMultipleFilesSelect(file=>{console.log(file);}, "camera_images");
  cal_tools.setupMultipleFilesSelect(file=>{console.log(file);}, "laser_images");

</script>
{% endblock %}